.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.display-4 {
  color: whitesmoke
}

#purpose {
  padding-top: 2em;
  color: lightgoldenrodyellow;
  font-size: 20pt;
}
.jumbotron {
  background-image: url("https://d1w9csuen3k837.cloudfront.net/Pictures/2000x1125/7/2/3/131723_neural_net_shutterstock_544558780.jpg");
  background-size: 100%;
  margin-top: 0px;
  margin-bottom: -500px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
