#model-option
{
    color: black;
    font-weight: bold
}

#other-option
{
    color: black;
    font-weight: bold
}

.row-margin-bot {
    margin-bottom: 2em
}

.row-center{
    margin-block-start: 5em
}