#model-option
{
    color: black;
    font-weight: bold
}

#other-option
{
    color: black;
    font-weight: bold
}

.row-margin-bot {
    margin-bottom: 2em
}

.row-center{
    margin-block-start: 5em
}
.classificationList {
    list-style-type: circle;
    margin-left: 1em
}
.predictionDiv {
    margin-top: 5em
}

.choseImageDiv {
    margin-top: 5em
}

.optionsDiv {
    margin-top: 5em
}