#model-option
{
    color: black;
    font-weight: bold
}

#other-option
{
    color: black;
    font-weight: bold
}
.row-margin-bot {
    margin-bottom: 2em
}

.row-center{
    margin-block-start: 5em
}
.classificationList {
    margin-left: 1em
}
.predictionDiv {
    margin-top: 5em
}

.choseImageDiv {
    margin-top: 5em
}

.optionsDiv {
    margin-top: 5em
}

ol li {
    padding-left: 0.2em;
    padding-top: 1em;
    list-style-type: none;
    line-height: 1.5;
}
#image-to-predict {
    text-align: center;
}

#prediction-confidence {
    text-align: center
}
#image-preview {
  height: 25%;
  vertical-align: top;
  margin-bottom: 0;
}

.prediction-image {
    left: 10;
}
#upload {
    opacity: 0;
}
#confusion-matrix{
    padding-right: 10em;
    height: 350px;
    width: 640px;
}

